.paper{
    width:80%;
    height: 13.8em;
    margin: 1.5em auto 0 auto;
    padding-top:5%;
    img{
        margin:0 auto;
        width:100%;
        height:10em;
    }
    .paper-cc{
        margin-top:5%;
        height:1.5em;
        color:#444;
        text-align: center;
    }
}