.footer {
  width: 100%;
  height: 12em;
  background: #fcf8f1; }
  .footer h5 {
    color: #888888;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.89;
    font-family: Poppins, sans-serif;
    margin-bottom: 0; }
  .footer .footer-wrapper {
    text-align: center;
    width: 100%;
    height: 5;
    margin: 0 auto;
    padding-top: 1em; }
    .footer .footer-wrapper h3 {
      color: #585754; }
    .footer .footer-wrapper h4 {
      width: 80%;
      margin: 0 auto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5;
      font-family: Poppins, sans-serif;
      letter-spacing: 0em;
      text-align: left;
      color: #888888;
      text-align: center; }
