//fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

//variables
$roboto:'Roboto', sans-serif;
$gcolor:rgba(11,172,139, 1.0);

//components
@import "./components/menubar/hamburger.scss";
@import "./components/buttons/hover_btn.scss";
@import "./components/animations/scroll.scss";
@import "./components/footer/footer.scss";
@import "./components/paper/paper.scss";

/*Home Page*/

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    .jumbo{
        p{
            width:60%;
            margin:60% auto 0 auto;
        }
        .jumbo-btn{
            width:30%;
            margin:0 auto;
            padding-top:2em;
        }
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .jumbo{
        p{
            width:60%;
            margin:0 auto 0 auto;
            padding-top:60vh;
        }
        .jumbo-btn{
            width:60%;
            margin:0 auto;
            padding-top:1em;
            @media (min-width: 380px)and (max-width: 448px) {
                padding-left:13%;
            }
            @media (min-width: 449px)and (max-width: 480px) {
                padding-left:16%;    
            }
        }
        .jumbo-scroll{
            width:15%;
            height:4em;
            margin:0 auto;
            #section04{
                padding-top:-3em;
            }
        }
    }
    .hiw{
        width:100%;
        height:65%;
        background:#CAEBF2;
        h3{
            margin: 0 auto;
            padding-top:3em;
            width:80%;
            text-align: center;
            font-family: Tahoma, Verdana, 'Segoe', sans-serif;
            font-style:normal;
            font-weight:800;
            size:17px;
            line-height:31px;
            color:#444444;
        }
        hr{
            display: block;
            height:1px;
            border:0;
            width:60%;
            border-top: 3px solid #008F95;
            border-radius:25px;
        }
        .hiw-statement{
            margin: 0 auto;
            background:#62EDD6;
            padding-top:2em;
            padding-bottom:2em;
            width:100%;
            text-align: center;
            font-family: 'Garamond', sans-serif;
            font-style:normal;
            font-weight:800;
            font-size:24px;
            line-height:31px;
            color:white;
        }
        .hiw-text{
            margin:1.5em auto 1em auto;
            width:100%;
            text-align:left;
            font-family: Tahoma, Verdana, 'Segoe', sans-serif;
            font-style:normal;
            font-weight:500;
            size:14px;
            line-height:21px;
            color:#444444;
        }
        .hiw-img{
            width:80%;
            margin:0 auto;
        }
        img{
            width:100%;
            height:40%;
            margin-top:1em;
        }
    }
    .hts{
        width:100%;
        height:100%;
        background: #CAEBF2;
        h3{
            margin:0 auto;
            padding-top:1em;
            padding-bottom:0.5em;
            width:80%;
            text-align:left;
            font-family: Tahoma, Verdana, 'Segoe', sans-serif;
            font-style:normal;
            font-weight:500;
            size:14px;
            line-height:21px;
            color:#444444;
        }
        .hts-img{
            width:80%;
            margin:0 auto;
        }
        img{
            width:100%;
            height:40%;
            margin-top:1em;
            margin-bottom:1em;
        }
    }
    .supportus{
        width:100%;
        height: 7em;
        text-align: center;
        padding-top:1.5em;
        background:#6D7993;
        p{
            color:white;
            width:80%;
            margin:0 auto;
            padding-bottom:1em;
            font-family: Tahoma, Verdana, 'Segoe', sans-serif;
            font-style:normal;
            font-weight:500;
            size:14px;
            line-height:21px;
        }
    }
}
.jumbo{
    width:100%;
    height:100vh;
    top:0;
    left:0;
    background-image:url('http://cdn.wallpapersafari.com/18/13/MXJmHe.jpeg');
    &:before {
        content: '';
        position: absolute;
        width:100%;
        height:100vh;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        // background-image: linear-gradient(to bottom right,#4ABDAC);
        opacity: .6; 
      }
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
    p{
        position: relative;
        z-index:8;
        color:white;
        text-align: center;
        font-family: $roboto;
        font-weight:500;
        font-size:1.5em;
    }
}

/*Support Page*/

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {
    .support{
        height:60em;
        header{
            width:100%;
            height: 5em;
            background:black;
        }
        .support-wrapper{
            padding-top:3em;
            p{
                color:#444444;
                width:80%;
                margin:0 auto;
                padding-bottom:1em;
                font-family: Tahoma, Verdana, 'Segoe', sans-serif;
                font-style:normal;
                font-weight:500;
                size:14px;
                line-height:21px;
                text-align: center;
            }
        }
        input[type="text"] {
            display: block;
            border-radius:5px;
            margin: 0;
            width:100%;
            text-align:center;
            line-height:36px;
            font-family: sans-serif;
            font-size: 12px;
            border: solid 2px #969696;
            // border: solid 2px $gcolor;
          }

        @media (min-width: 370px)and (max-width: 480px) {
            .support-btn{
                width:50%;
                height:10em;
                div{
                    width:100%;
                    height:3em;
                }
            }
        }
        @media (max-width: 370px) {
            .support-btn{
                width:60%;
                height:10em;
                div{
                    width:100%;
                    height:3em;
                }
            }
        }
        
        .support-btn{
            margin:0 auto;
            text-align: center;
            .btn100{
                float:left;
            }
            .btn50{
                float:right;
            }
            .btn20{
                float:left;
            }
            .btn10{
                float:right;
            }
            .btn5{
                text-align: center;
            }
        }
        .support-total{
            color:#444444;
            width:90%;
            margin:0 auto;
            padding-bottom:1em;
            font-family: Tahoma, Verdana, 'Segoe', sans-serif;
            font-style:normal;
            font-weight:500;
            size:14px;
            line-height:21px;
            text-align: center;
            div{
                width:50%;
                margin: 0.75em auto 0 auto;
                border: solid 2px $gcolor;
                border-radius:25px;
                line-height: 36px;
            }
        }
        form{
            width:40%;
            margin:0 auto 1em auto;
        }
        .pay-btn{
            width:30%;
            margin:1em auto 0 auto;
        }
    }
}

/*Contact Page*/

@media (min-width: 1200px) { }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}